In [ ]:
#hiring.csv

In [13]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

# Load the dataset
data = pd.read_csv('/hiring.csv')

# Display the first few rows of the dataset
print(data.head())

# Handle missing values
# Fill missing experience with 'zero' and missing test_score with the median
data.loc[:, 'experience'] = data['experience'].fillna('zero')  # Using .loc
print()
print()
print("after data processing")
print(data)
data.loc[:, 'test_score(out of 10)'] = data['test_score(out of 10)'].fillna(data['test_score(out of 10)'].median())  # Using .loc

# Convert experience from words to numbers
experience_map = {
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9,
    'ten': 10,
    'eleven': 11,
    'twelve': 12
}

data['experience'] = data['experience'].map(experience_map)

# Prepare the data
X = data[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']]  # Features
y = data['salary($)']  # Target

# Create and train the multiple linear regression model
model = LinearRegression()
model.fit(X, y)

# Predict salaries for the given candidates
candidate_1 = pd.DataFrame(np.array([[2, 9, 6]]), columns=['experience', 'test_score(out of 10)', 'interview_score(out of 10)'])  # Feature names included
candidate_2 = pd.DataFrame(np.array([[12, 10, 10]]), columns=['experience', 'test_score(out of 10)', 'interview_score(out of 10)'])  # Feature names included
print()
print()
predicted_salary_1 = model.predict(candidate_1)

predicted_salary_2 = model.predict(candidate_2)

print(f"Predicted salary for candidate 1 (2 yr experience, 9 test score, 6 interview score): ${predicted_salary_1[0]:.2f}")
print()
print(f"Predicted salary for candidate 2 (12 yr experience, 10 test score, 10 interview score): ${predicted_salary_2[0]:.2f}")

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000


after data processing
  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000


Predicted salary for candidate 1 (2 yr experience, 9 test score, 6 interview score): $53205.97

Predicted salary for candidate 2 (12 yr experience, 10 test score, 10 interview score): $92002.18

In [ ]:
#1000companies

In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Load the dataset
data = pd.read_csv('/1000_Companies.csv')

# Display the first few rows of the dataset
print(data.head())

# Separate features (X) and target (y)
X = data[['R&D Spend', 'Administration', 'Marketing Spend', 'State']]
y = data['Profit']

# Handle categorical variable 'State' using OneHotEncoding
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X = ct.fit_transform(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the multiple linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict profit for the given input
# Input: R&D Spend = 91694.48, Administration = 515841.3, Marketing Spend = 11931.24, State = Florida
input_data = pd.DataFrame(np.array([[91694.48, 515841.3, 11931.24, 'Florida']]), columns=['R&D Spend', 'Administration', 'Marketing Spend', 'State'])

# Transform input data using the same ColumnTransformer
input_data_transformed = ct.transform(input_data)

predicted_profit = model.predict(input_data_transformed)

print(f"Predicted Profit: ${predicted_profit[0]:.2f}")

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
Predicted Profit: $554066.30