In [ ]:
#Activiy1 - Write python code , consider filename as “housing.csv”

In [2]:
import pandas as pd

# i. To load .csv file into the data frame
filename = "/housing.csv"
df = pd.read_csv(filename)

In [3]:
# ii. To display information of all columns
print("Information of all columns:")
print(df.info())

Information of all columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB
None

In [4]:

# iii. To display statistical information of all numerical columns
print("\nStatistical information of all numerical columns:")
print(df.describe())

Statistical information of all numerical columns:
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
count       5000.000000          5000.000000                5000.000000
mean       68583.108984             5.977222                   6.987792
std        10657.991214             0.991456                   1.005833
min        17796.631190             2.644304                   3.236194
25%        61480.562390             5.322283                   6.299250
50%        68804.286405             5.970429                   7.002902
75%        75783.338665             6.650808                   7.665871
max       107701.748400             9.519088                  10.759588

       Avg. Area Number of Bedrooms  Area Population         Price
count                   5000.000000      5000.000000  5.000000e+03
mean                       3.981330     36163.516039  1.232073e+06
std                        1.234137      9925.650114  3.531176e+05
min                        2.000000       172.610686  1.593866e+04
25%                        3.140000     29403.928700  9.975771e+05
50%                        4.050000     36199.406690  1.232669e+06
75%                        4.490000     42861.290770  1.471210e+06
max                        6.500000     69621.713380  2.469066e+06

In [6]:
print(df.head())

   Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0       79545.45857             5.682861                   7.009188
1       79248.64245             6.002900                   6.730821
2       61287.06718             5.865890                   8.512727
3       63345.24005             7.188236                   5.586729
4       59982.19723             5.040555                   7.839388

   Avg. Area Number of Bedrooms  Area Population         Price  \
0                          4.09      23086.80050  1.059034e+06
1                          3.09      40173.07217  1.505891e+06
2                          5.13      36882.15940  1.058988e+06
3                          3.26      34310.24283  1.260617e+06
4                          4.23      26354.10947  6.309435e+05

                                             Address
0  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1  188 Johnson Views Suite 079\nLake Kathleen, CA...
2  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3                          USS Barnett\nFPO AP 44820
4                         USNS Raymond\nFPO AE 09386

In [7]:
# iv. To display the count of unique labels for the "Ocean Proximity" column
print("\nCount of unique labels for 'Ocean Proximity' column:")
print(df['Area Population'].value_counts())

Count of unique labels for 'Ocean Proximity' column:
Area Population
23086.80050    1
27640.56129    1
43555.46064    1
44198.33581    1
43154.83863    1
              ..
44561.33359    1
28995.96414    1
49457.17937    1
13981.43549    1
46501.28380    1
Name: count, Length: 5000, dtype: int64

In [8]:
# v. To display which attributes (columns) in a dataset have missing values count greater than zero
print("\nColumns with missing values:")
print(df.isnull().sum()[df.isnull().sum() > 0])

Columns with missing values:
Series([], dtype: int64)

In [ ]:
#ACtivity 2 -adult Dataset

In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

# Load the dataset directly from the provided data (assuming it's in CSV-like format)
data = pd.read_csv('/adult.csv')  # Replace with actual file path if needed

In [11]:
# Display initial info about the dataset
print("Initial Dataset Info:")
print(data.info())
print("\nMissing Values:")
print(data.isnull().sum())

Initial Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

Missing Values:
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [14]:
# Display sample before replacement
print("Sample Before Replacement:")
print(data.head())

# Step 1: Handling Missing Values
# Replace '?' with 'unknown' directly
data.replace('?', 'unknown', inplace=True)

# Display sample after replacement
print("\nSample After Replacement:")
print(data.head())

# Verify no '?' remains
print("\nCount of '?' After Replacement:")
print(data.isin(['?']).sum())

Sample Before Replacement:
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18        NaN  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                NaN    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

Sample After Replacement:
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18        NaN  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                NaN    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

Count of '?' After Replacement:
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [21]:
# Step 1: Handling Missing Values
# Replace '?' with np.nan
data.replace('?', np.nan, inplace=True)

# Identify columns with missing values
missing_columns = data.columns[data.isnull().any()].tolist()
print("\nColumns with Missing Values:", missing_columns)

# Handle missing values
# For categorical columns, replace with mode
categorical_columns = ['workclass', 'occupation', 'native-country']
for col in categorical_columns:
    if col in missing_columns:
        data[col].fillna(data[col].mode()[0], inplace=True)

# Display the head of the DataFrame to see the changes
print(data.head())

Columns with Missing Values: []
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18    Private  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4     Prof-specialty    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [22]:
# Check remaining missing values
print("\nMissing Values After Handling:")
print(data.isnull().sum())

Missing Values After Handling:
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [23]:
# Step 2: Handling Categorical Data
# Identify all categorical columns
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
print("\nCategorical Columns:", categorical_cols)

Categorical Columns: ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country', 'income']

In [24]:
# Apply Label Encoding to categorical columns
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le  # Save encoder for potential inverse transform

In [25]:
# Step 3: Handling Outliers using IQR method
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

numerical_columns = ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']
for col in numerical_columns:
    data = remove_outliers(data, col)

print("\nDataset Shape After Outlier Removal:", data.shape)

Dataset Shape After Outlier Removal: (28560, 15)

In [29]:
# 2. Data Transformations
# Select numerical columns for scaling
features_to_scale = numerical_columns
print(features_to_scale)

['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [33]:
# Min-Max Scaling
min_max_scaler = MinMaxScaler()
data_minmax = data.copy()
data_minmax[features_to_scale] = min_max_scaler.fit_transform(data[features_to_scale])

In [35]:
# Standardization (Standard Scaler)
standard_scaler = StandardScaler()
data_standard = data.copy()
data_standard[features_to_scale] = standard_scaler.fit_transform(data[features_to_scale])

# Display sample of transformed data
print("\nSample of Min-Max Scaled Data:")
print(data_minmax[features_to_scale].head())
print("\nSample of Standardized Data:")
print(data_standard[features_to_scale].head())

Sample of Min-Max Scaled Data:
        age    fnlwgt  educational-num  capital-gain  capital-loss  \
0  0.131148  0.526982         0.181818           0.0           0.0
1  0.344262  0.188113         0.363636           0.0           0.0
2  0.180328  0.799459         0.636364           0.0           0.0
6  0.196721  0.527536         0.363636           0.0           0.0
8  0.114754  0.880389         0.454545           0.0           0.0

   hours-per-week
0        0.368421
1        0.894737
2        0.368421
6        0.368421
8        0.368421

Sample of Standardized Data:
        age    fnlwgt  educational-num  capital-gain  capital-loss  \
0 -1.080674  0.532148        -1.511213           0.0           0.0
1 -0.003343 -1.041795        -0.580414           0.0           0.0
2 -0.832059  1.797721         0.815786           0.0           0.0
6 -0.749187  0.534722        -0.580414           0.0           0.0
8 -1.163545  2.173616        -0.115014           0.0           0.0

   hours-per-week
0       -0.371325
1        2.153988
2       -0.371325
6       -0.371325
8       -0.371325

In [36]:
# Save the preprocessed datasets
data_minmax.to_csv('adult_income_minmax.csv', index=False)
data_standard.to_csv('adult_income_standard.csv', index=False)

In [37]:
##QUERIES